.article-wrapper {
    width: 50%;
}

.article-inner-wrapper {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    gap: 12px;
}

@media screen and (max-width: 480px) {
    .article-wrapper {
        width: 100%;
    }
}
.article-image {
    width: 100%;
    aspect-ratio: 9 / 4;
}

.article-wrapper h2 {
    margin: 0;
    text-align: center;
}

.article-wrapper p {
    margin: 0;
}
