.pagePaper {
    width: 640px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

@media screen and (max-width: 480px){
    .pagePaper {
        width: 100%;
        height: 100%;
        min-height: unset;
    }
}
.pagePaper:has(.article-error) {
    justify-content: center;
}
