:root {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  overflow: inherit;
}

#root {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-width: 80%;
  min-height: 80%;
}

@media screen and (max-width: 480px){
  #root {
    width: 100%;
    height: 100%;
    min-height: unset;
  }
}
